<div class="layui-header header header-demo">
    <div class="layui-main">
        <div class="left">
            <a class="logo left" href="/">
                Blog管理后台
            </a>
            <ul class="layui-nav right">
                <li class="layui-nav-item <%= url=='/admin/blog'?' layui-this':'' %>">
                    <a href="/admin/blog">博客</a>
                </li>
                <li class="layui-nav-item <%= url=='/admin/about'?' layui-this':'' %>">
                    <a href="/admin/about">关于我</a>
                </li>

            </ul>
        </div>

        <div class=" layout right">admin,<a href="/admin/layout">退出</a></div>
    </div>
</div>