<footer class="mw7 center tc pt3 pb4 silver">
    版权所有 <a href="http://www.beian.miit.gov.cn" class="link silver hover-blue pv1">陕ICP备18013664号-5</a>
    <img src="/public/blog/images/scribble2.png" alt="scribble" class="mt4 db center"/>
</footer>
