<nav class="bb b--light-gray pv4 tc" aria-label="Main">

    <a class="link blue hover-mid-gray mh2 pv1"
       href="/">
        Home
    </a>

    <a class="link blue hover-mid-gray mh2 pv1"
       href="/about">
        About me
    </a>

</nav>